@charset "UTF-8";

@import "~base/global";

.clearpay-checkout-button {
    background-color: #000;
    color: #fff !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.clearpay-hide {
    display: none !important;
}

img.cp-footer-image {
    vertical-align: middle;
    width: 7em;
    margin: 5px 0;
    max-width: 100px;
}
